<!DOCTYPE html>
<html>
  <head>
    <title>FCC Announcements Admin Panel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/toolkit-inverse.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="container">
      <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>
      <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>
