<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FCC Announcements</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/toolkit-inverse.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>
      <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>
